{% extends 'base.html.twig' %}

{% block title %}Propriétés{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
      <div class="container">
      <h1>Voir tous nos biens</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi facilis, alias sapiente fuga deserunt quas neque dolorum! Magnam ipsa asperiores vitae placeat. Sint impedit minus distinctio, sunt est culpa deleniti!</p>

    </div>
  </div>
{% endblock %}
